In [25]:
k=(1,32,5,870,90)
k1=(67,349)
k=tuple(list(k)+list(k1))
k

(1, 32, 5, 870, 90, 67, 349)

In [29]:
k=[1,3,4,78,89]
k.remove(78)
k.insert(3,67)
print(k)

[1, 3, 4, 67, 89]

In [33]:
myset={"apple","banana","kiwi"}
myset.add(1)
print(myset)

{1, 'kiwi', 'banana', 'apple'}

In [1]:
t1=("a","b","c")
t2=(1,2,3,4,5)

t3=(t1+t2)
print(t3)

('a', 'b', 'c', 1, 2, 3, 4, 5)

In [3]:
mytuple=(1,2,3,4,5,6,7,8,9)
list1=list(mytuple)
list1.append("hi")
mytuple=tuple(list1)
mytuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'hi')

In [5]:
veg=("apple","banana","kiwi","orange","mango")

(green,*tropic,yellow,red)=veg

print(green)
print(tropic)
print(yellow)
print(red)

apple
['banana', 'kiwi']
orange
mango

In [19]:
myset1 = {"apple", "banana", "cherry"}
myset2 = {"kiwi", "pineapple", "grapes"}

myset1.update(myset2)
myset1

{'apple', 'banana', 'cherry', 'grapes', 'kiwi', 'pineapple'}

In [21]:
myset={"mango","banana","kiwi"}
myset.remove("kiwi")
myset

{'banana', 'mango'}

In [29]:
myset={0,1,5.0,6.3,"hello",8,"welcome"}

myset.discard(0)
print(myset)

{1, 'welcome', 5.0, 6.3, 'hello', 8}