In [3]:
myset1={"apple","banana","cherry"}
myset2={"kiwi",5,90,6.3,5,22,4,22,3,1,True,0,"mango"}

myset3=myset1.union(myset2)
myset3

{0, 1, 22, 3, 4, 5, 6.3, 90, 'apple', 'banana', 'cherry', 'kiwi', 'mango'}

In [7]:
set1={1,2,3}
set2={"hi","hello","welcome"}

set3=set1|set2
set3

{1, 2, 3, 'hello', 'hi', 'welcome'}

In [9]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena",3}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'John', 1, 2, 3, 'a', 'bananas', 'b', 'Elena', 'c', 'apple', 'cherry'}

In [11]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena",3}
set4 = {"apple", "bananas", "cherry"}

myset=set1|set2|set3|set4
myset

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

In [15]:
set1={"apple","mango","grapes"}
set2={"google","microsoft","apple"}

set3=set1.intersection(set2)
set3

{'apple'}

In [17]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

set3=set1 & set2
set3

{4, 5, 6}

In [19]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [37]:
set4=set1.symmetric_difference(set2)
set4

{'banana', 'cherry', 'google', 'microsoft'}