In [7]:
for i in range(1,26):
    if i %5==0:
        print(i)

5
10
15
20
25

In [17]:
l=[5, 6, 78, 8, 990]
k=0
for i in l:
    k += 1
print("Length is",k)

Length is 5

In [19]:
a={"hi",12,34,556,78,901,"welcome",5.5}
for i in a:
    print(i)

34
5.5
901
12
556
78
hi
welcome

In [21]:
k="santhosh kumar"
for i in k:
    print(i)

s
a
n
t
h
o
s
h

k
u
m
a
r

In [23]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
l=["Hello world",11,22,33,44,55]
for i in l:
    print(i)

Hello world
11
22
33
44
55

In [27]:
for i in range(1,21):
    if i %2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [35]:
l=[564,34,89,71,335,41]
k=0
for i in l:
    k += i
print("Total",k)

Total 1134

In [47]:
a=[0,1,"hi",5,0,"welcome",8,8,22,2,1,5,1]
b=1

count=0
for i in a:
    if i == b:
        count += 1
print(f"{b} appers {count} times in the list.")

1 appers 3 times in the list.

In [51]:
k=[]
for i in range(1,11):
    k.append(i**2)

print(k)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
k=3
for i in range(1,11):
    num = k * i
    print(f"{k} x {i} = {num}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30